<table class="table table-md w-full">
  <thead>
    <tr>
      <th>#</th>
      <th>Icon</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Capital</th>
      <th>Population</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (country of countries(); track country.name) {
      <tr>
        <td></td>
        <td>{{ country.icon }}</td>
        <td>
          <img
            [src]="country.flag"
            [alt]="country.name"
            class="w-10 h-10 object-contain"
          />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population }}</td>
        <td></td>
      </tr>
    }
  </tbody>
</table>
